[submodule "third_party/run-clang-format"]
	path = third_party/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
[submodule "third_party/indicators"]
	path = third_party/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
